<h2>Welcome to HoofPic</h2>
<p>
  <%= link_to 'My Clients', controller: 'clients' %><br>
  <%= link_to 'My Stables', controller: 'stables' %><br>
  <%= link_to 'List of Horses', controller: 'horses' %>
</p>
