<p>
  <strong>Begins:</strong>
  <%= appointment.start.strftime(%d/%m/%y: %H:%M:%S %Z) %>
  <br>
  <strong>Ends:</strong>
  <%= appointment.end %>
  <br>
  <strong>Location:</strong>
  <%= appointment.location %>
  <br>
  <strong>Comment:</strong>
  <%= appointment.comment %>
</p>
