<p>
  <strong>Begins:</strong>
  <%= appointment.start %>
  <br>
  <strong>Ends:</strong>
  <%= appointment.end %>
  <br>
  <strong>Location:</strong>
  <%= appointment.location %>
  <br>
  <strong>Comment:</strong>
  <%= appointment.comment %>
</p>
